*/log/*.log
**/target/
!.mvn/wrapper/maven-wrapper.jar

**/data/*
**/data/elasticsearch/nodes/0/_state/*
**/data/elasticsearch/nodes/0/*

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.metadata

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

### Fortify ###
*.fpr
*.fpr.scan
**/log
**/dependency-reduced-pom.xml
